/* App.css */
.request-link-created {
  width: 100%;
  margin: 0 auto;
}

.request-link-header1{
  background-color: #f23939;
  height: 5vh;
  color: white;
  padding: 15px 20px;
  text-align: center;
  justify-content: center;
}

.request-link-header1 h1{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.recipient-block {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.recipient-name {
  font-size: 18px;
}

.link-display {
  margin: 10px 0;
}

.button-group {
  display: flex;
  gap: 10px;
}

.copy-button,
.forward-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.back-button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.copy-button.copied {
  background-color: #4caf50;
  color: white;
}

.back-button-container{
  display:flex;
  justify-content: center;
  margin-top:20px;
}
