@import './CommonStyles.css';

.recipient-list-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  width: 100%; /* 追加: 幅を100%に設定 */
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; 
}


.content-wrapper3 {
  flex: 1;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

/* 入力フィールドとテキストエリアの幅を調整 */
input[type="number"], textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* ボタンの幅を調整 */
.request-submit-button button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: white;
  background-color: #fc7b7b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box; /* 追加: パディングとボーダーを幅に含める */
}

.recipient-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* メディアクエリを追加して、大きな画面での最大幅を制限 */
@media (min-width: 600px) {
  .request-container {
    max-width: 600px;
    margin: 0 auto;
  }
}